.card__like-button {
  display: flex;
  justify-content: center;
  
  width: 21px;
  height: 18px;
  background: transparent url('../../../images/like-inactive.svg') no-repeat;
  
  background-size: 21px 18px;
  border: none;
  cursor: pointer;
  padding-top: 22px;
  padding-bottom: 22px;
  margin: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.card__like-button:hover {
  opacity: 0.6;
}

.like_count {
  width: 10px;
  height: 13px;
  line-height: 16px;
  padding-top: 3px;
  font-family: Inter;
}